@media only screen and (max-width: 767px) {
  .descriptionForm {
    width: 100vw;
  }
}

.descriptionForm {
  align-self: center;
}

.react-datepicker-wrapper {
  input {
    border: none !important;
  }
}