.form-validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-validation p {
  font-size: 12px sans-serif;
  color: #5f5f5f
}

.form-input {
  position: relative;
  text-align: left;
  margin-bottom: 23px;
  width: 100%;
}

.form-title-row {
  text-align: center;
  margin-bottom: 55px;
}

.form-validation h1 {
  display: inline-block;
  box-sizing: border-box;
  color: #4c565e;
  font-size: 24px;
  padding: 15px 8px;
  border-bottom: 2px solid #6caee0;
  margin: 0;
}

.form-validation .form-input>label span {
  font: bold 14px sans-serif;
  display: inline-block;
  box-sizing: border-box;
  color: #5f5f5f;
  width: 100%;
  text-align: left;
  padding: 8px 0px;
}

.form-validation input,
.form-validation textarea {
  position: relative;
  color: #5f5f5f;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
}


/* Styles for Valid input data */

.form-validation .form-valid-data-sign {
  position: absolute;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #a2cf78;
  left: 440px;
  top: 10px;
  display: none;
}


/* Styles for Invalid input data */

.form-validation .form-invalid-data {
  margin-bottom: 55px;
}

.form-validation .form-invalid-data input,
.form-validation .form-invalid-data textarea {
  border: 1px solid #d37171;
  box-shadow: 2px 3px 4px 0 rgba(200, 77, 77, 0.15);
}

.form-validation .form-invalid-data-sign {
  position: absolute;
  display: none;
  color: #ffffff;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #e17c4f;
  left: 440px;
  top: 10px;
}

.form-validation .form-invalid-data-info {
  display: none;
  position: absolute;
  color: #c84d4d;
  font-weight: normal;
  bottom: -30px;
}

.form-invalid-data .form-invalid-data-sign,
.form-invalid-data .form-invalid-data-info {
  display: block;
}

.form-valid-data .form-valid-data-sign {
  display: block;
}

.form-validation select {
  background-color: #ffffff;
  color: #5f5f5f;
  box-sizing: border-box;
  max-width: 240px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
}

.form-validation .form-checkbox input {
  width: auto;
}


/* Placeholder color */

.form-validation ::-webkit-input-placeholder {
  color: #999;
}

.form-validation ::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-validation :-ms-input-placeholder {
  color: #999;
  opacity: 1;
}


/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 700px) {
  .form-validation {
    margin-top: 0;
    padding: 30px;
    max-width: 480px;
  }
  .form-validation .form-input {
    max-width: 100%;
    margin: 10px 0;
    text-align: left;
  }
  .form-validation .form-title-row {
    margin-bottom: 20px;
  }
  .form-validation h1 {
    padding: 0 0 15px 0;
  }
  .form-validation .form-input>label span {
    display: block;
    text-align: left;
    padding: 0 0 5px;
  }
  .form-validation input,
  .form-validation select {
    width: 100%;
  }
  .form-validation .form-valid-data-sign,
  .form-validation .form-invalid-data-sign {
    left: 235px;
    top: 40px;
  }
  .form-validation .form-invalid-data {
    margin-bottom: 55px;
  }
  .form-validation .form-invalid-data-info {
    left: 0;
  }
  .form-validation .form-checkbox span {
    display: inline-block !important;
    width: 100px !important;
  }
}