/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */

.geosuggest {
  font-size: 25px;
  font-size: 1.3rem;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: white;
}

.geosuggest__input-wrapper {
  display: flex;
  border: 2px solid #3396d1;
  box-shadow: 0 0 1px #3d464d;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
  &:before {
    content: url('/static/location.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 16px 0 16px 16px;
  }
}

.geosuggest__input {
  border: none !important;
  width: 100%;
  padding: .5em 1em;
}

.geosuggest__input:focus {
  border-color: #3396d1 !important;
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  margin-left: 0px !important;
  background: #fff;
  border: 2px solid #3396d1;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 500;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0 !important;
  overflow: hidden;
  border-width: 0;
}


/**
 * A geosuggest item
 */

.geosuggest__item {
  display: flex;
  align-items: center;
  max-width: none !important;
  font-size: 25px !important;
  font-size: 1.3rem !important;
  padding: .4em 0;
  cursor: pointer;
  &:before {
    content: url('/static/location.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 16px;
  }
}

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}

.geosuggest__item--active {
  background: #3396d1;
  color: #fff !important;
}

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}

.geosuggest__item__matched-text {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .geosuggest {
    font-size: 20px;
    font-size: 1rem;
  }
  .geosuggest__input {
    padding: 11px 11px !important;
  }
  .geosuggest__input-wrapper {
    &:before {
      padding: 11px 0 11px 11px;
    }
  }
  .geosuggest__suggests {
    max-height: 50vh;
  }
  .geosuggest__item {
    font-size: 20px !important;
    font-size: 1rem !important;
    padding: .2em 0;
    &:before {
      padding: 11px;
    }
  }
  .joyride-tooltip {
    font-size: 18px;
    padding: 5px;
  }
}