.Home {
  width: 100vw;
  overflow-x: hidden;
  .Hero {
    width: 2231px;
    height: 678px;
    max-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-size: 2231px 678px;
    background-repeat: no-repeat;
    overflow: hidden !important;
    transform: translate3d(0, 0, 0);
    animation: moveSlideshow 60s linear infinite;
    animation-iteration-count: infinite;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    letter-spacing: 0.8px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .heroLogo {
      width: 500px;
      max-width: 80vw;
    }
    .heroHeader {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 1.3em;
      color: white;
      letter-spacing: 0px;
      font-weight: 700;
    }
    .heroText {
      font-size: 1em;
      color: white;
      letter-spacing: -1px;
      font-weight: 400;
      margin: 0 0;
    }
    .heroButton {
      margin: 20px;
    }
    .heroLink {
      font-size: 1em;
      letter-spacing: 0px;
      cursor: pointer;
      margin: 10px;
      color: white !important;
      border-bottom: 1px solid white;
      padding-bottom: 1px;
    }
    .heroLoginButton {
      background: none !important;
      border: none !important;
      &:hover {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-50%);
  }
}

.statisticsBox {
  border: 5px solid white;
}