@import './loginButtons.scss';
@import './locationStep.scss';
@import './uploadStep.scss';
@import './descriptionStep.scss';
@import './searches.scss';
@import './home.scss';
@import './labels.scss';
@import './react-image-gallery/image-gallery.scss';
@import './searchModal.scss';
@import './userPanel.scss';
@import './modal.scss';
@import './react-images-uploader.scss';
@import '~react-joyride/lib/react-joyride';
@import './geosuggest.scss';
@import './ReactToastify.min.css';
@import './react-dd-menu.css';
@import '~react-datepicker/dist/react-datepicker';
@import './form-validation.scss';
.appContainer {
  background-color: #f5f5f5;
}

.hidden {
  display: none !important;
}

.noscroll {
  overflow: hidden;
}

.addPubWrapper {
  min-height: 85vh !important
}

.menuAnchor {
  font-weight: 500;
  margin: 10px;
}

.whiteSpinning {
  vertical-align: middle;
  circle {
    stroke: white !important
  }
}

.grommetux-icon-spinning {
  animation: e 2.5s alternate infinite ease-in-out;
}

.joyride-overlay {
  position: fixed;
}

.homeDownIcon {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkCat {
  padding: 5px;
}