.searchLabels {
  margin: 0 0 10px 0;
}

.label {
  display: inline-block;
  border-radius: 6px;
  color: white;
  padding: 5px 8px;
  margin: 2px;
  font-size: 0.9em;
  &.green {
    background: #72bb46;
  }
  &.yellow {
    background: #eac435;
  }
  &.blue {
    background: #3396d1;
  }
  &.red {
    background: #e84356;
  }
}

.searchCreatedAt {
  font-size: 11px;
}