.main_autocomplete {
  position: relative;
  z-index: 499;
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew !important;
  display: flex;
  border-radius: 2px !important;
}

.Demo__search-input,
.Demo__search-input:focus,
.Demo__search-input:active {
  border: honeydew !important;
  display: block;
  width: 98%;
  font-size: 18px !important;
  outline: none !important;
  padding: 16px 16px 16px 6px !important;
}

.main_autocomplete::before {
  content: url('/static/location.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 16px 0 16px 16px;
}

.Demo__autocomplete-container {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 60px;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
}

.Demo__suggestion-item {
  z-index: 999;
  padding: 4px;
  text-align: left;
  font-size: 18px;
}

.leaflet-container {
  height: 73vh;
}

.nextStepButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5000;
}

.prevStepButton {
  position: absolute;
  bottom: 10px;
  z-index: 5000;
  left: 10px;
}

@media only screen and (max-width: 767px) {
  .nextStepButton {
    position: relative;
    bottom: initial;
    right: initial;
  }
}