/* SN Buttons Shared */

.loginBtn {
  box-sizing: border-box !important;
  position: relative !important;
  margin: 0.2em !important;
  padding: 0 15px 0 46px !important;
  border: none !important;
  text-align: left !important;
  line-height: 45px !important;
  white-space: nowrap !important;
  border-radius: 0.2em !important;
  font-size: 16px !important;
  color: #FFF !important;
  margin: 5px auto !important;
  width: 280px !important;
  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
}


/* Facebook */

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
  &:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 10px no-repeat;
  }
  &:hover,
  &:focus {
    background-color: #5B7BD5;
    background-image: -webkit-linear-gradient(#5B7BD5, #4864B1);
    background-image: -moz-linear-gradient(#5B7BD5, #4864B1);
    background-image: -o-linear-gradient(#5B7BD5, #4864B1);
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
}


/* Google */

.loginBtn--google {
  background-color: #DD4B39;
  background-image: linear-gradient(#DD4B39, #c14131);
  text-shadow: 0 -1px 0 #c14131;
  margin-top: 20px;
  &:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 10px no-repeat;
  }
  &:hover,
  &:focus {
    background-color: #DD4B39;
    background-image: -webkit-linear-gradient(#DD4B39, #DD4B39);
    background-image: -moz-linear-gradient(#DD4B39, #DD4B39);
    background-image: -o-linear-gradient(#DD4B39, #DD4B39);
    background-image: linear-gradient(#DD4B39, #DD4B39);
  }
}