.sm-shim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, .65);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
}

.sm-content {
  width: 95vw;
  height: 85vh;
  align-self: center;
  position: relative;
  background: white;
  border-radius: 10px 10px 0 0;
  overflow: scroll;
}

.searchModalSplit {
  height: 100%;
}

.searchButtons {
  width: 95vw;
  border-radius: 0 0 10px 10px;
}

.discardButton {
  border-color: #e84356 !important;
  background-color: #e84356;
  margin: 5px;
  &:hover {
    box-shadow: 0 0 0 2px #e84356 !important;
  }
}

.contactButton {
  border-color: #72bb46 !important;
  background-color: #72bb46;
  margin: 5px;
  &:hover {
    box-shadow: 0 0 0 2px #72bb46 !important;
  }
}

.closeSearchModal {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 600;
  background: white;
  border-radius: 50px;
}

@media only screen and (max-width: 767px) {
  .closeSearchModal {
    position: fixed;
  }
  .sm-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .searchButtons {
    width: 100vw;
    border-radius: 0;
  }
}