.searchMenu {
  .grommetux-button__icon {
    padding: 12px 0;
  }
}

.foundLabel {
  color: white;
  background: #72bb46;
  border-radius: 10px;
  margin: auto;
  padding: 10px 15px;
}

.searchAddress {
  display: flex;
  vertical-align: middle;
  margin: 10px 0;
  svg {
    margin: 0 5px;
  }
}

span.secondary {
  text-align: center;
}

.searchTileTop {
  color: white;
  width: 100%;
  text-align: center;
  padding: 2px;
  &.green {
    background: #72bb46;
  }
  &.found {
    background: #eac435;
  }
  &.adoption {
    background: #3396d1;
  }
  &.lost {
    background: #e84356;
  }
  &.emergency {
    background: #e84356;
  }
  &.vet {
    background: #0A64A0;
  }
}