.profileImage {
  border-radius: 100px;
}

.searchControls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.searchTile {
  position: relative;
}

.searchOptions {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: 3px solid #f5f5f5;
  button {
    padding: 5px 10px !important;
    min-width: 80px !important;
    margin: 0 !important;
  }
}

.grommet.grommetux-drop {
  max-height: 389px !important;
}

.greenAnchor {
  color: #8cc800 !important;
}

.redAnchor {
  color: #ff324d !important;
}